html{
    margin:0;
    padding:0;
   
    
}

body{
    padding:0;
    margin:0;
    background-color: black;
    height:600vh;
    width:100vw;
    
    
}

.openingscreen{
    text-align: center;
    top:0;
    padding:0;
    margin:0;
    height:100vh;
    width:100vw;
    background-color:black;
    position: relative;
    display: grid;
    place-items:  center;
    overflow: hidden;
    
}

.openingtext{
    margin:0;
    padding:0;
    
    position: relative;
    font-size:max(35px, 5vw);
    width:50%;
    max-width:850px;
    color:white;
    font-family: Articulat CF,system-ui,sans-serif;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:center;
    
}

.secondscreen{
    text-align: center;
    
    
    padding:0;
    margin:0;
    height:100vh;
    width:100vw;
    position: -webkit-sticky;
    background:transparent;
    position: sticky;
    float:left;
    top:0;
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content:center;
}

.fixed{
    position: fixed;
    top:0;
}


.secondallcontain{
    
    margin:0;
    padding:0;
    position: relative;
    font-size:min(5vw, 70px);
    
    width:65vw;
    height:30vw;
    max-width: 1000px;
    max-height:400px;
    
    color:white;
    font-family: Articulat CF,system-ui,sans-serif;
    text-align: center;
    background:transparent;
    
    
    display: block;
}

.iamtext{
    position: absolute;
    left:0;
    top:0;
    margin:0;
    padding:0;
    text-align: left;
    
    
}
.appear{
    background-color: black;
    width:500px;
    height:500px;
    position: relative;
    top:0;
    display: block;

}

.changertextcontain{
    right:0;
    bottom:10%;
    position: absolute;
    text-align: right;
    margin:0;
    padding:0;
    height:50%;
    
   
}

.kickertext{
    opacity:0;
    text-shadow: 
    0 0 4px white,
    0 0 10px #ff0000,
    0 0 21px #ff0000,
    1px 0 0 #ff0000,
    -1px 0 0 #ff0000,
    0 -1px 0 #ff0000,
    0 1px 0 #ff0000;
    margin:0;
    padding:0;
    color:white;
    
}

#changertextone{
    
    opacity: 1;
    position: absolute;
    
    right:0;
    bottom:-15%;
    display: inline-block;
    font-size:min(16vw, 250px);
    
}

#changertexttwo{
    
    
    transform:translateY(300px);
    position: absolute;
    padding:0;
    opacity: 0;
    right:0;
    top:0;
    
    font-size:min(10vw, 150px);
}

#changertextthree{
    transform:translateY(300px);
    position: absolute;
    
    right:0;
    bottom:-15%;
    display: inline-block;
    font-size:min(16vw, 250px);
}

/* philosophy */

.filler{
    margin:0;
    padding:0;
    position: relative;
    display: block;
    height:100vh;
    width:100vw;
    background-color: black;
    z-index:-100;
}

.codingbackground{
    top:-100vh;
    height:150vh;
    
    width:100vw;

    background-color: black;
    position: relative;
    z-index:-100;
}

.philosophybackground{
    top:-100vh;
    position: relative;
    height:300vh;
    width:100vw;
    z-index:-100;
    background: black;
} 
 
