body{
    padding:0;
    margin:0;
    background-color: black;
    height:600vh;
    overflow-x:hidden;
}

.openingscreen{
    text-align: center;
    top:0;
    padding:0;
    margin:0;
    height:100vh;
    width:100vw;
    background-color:black;
    position: relative;
    display: grid;
    place-items:  center;
    
}

.openingtext{
    margin:0;
    padding:0;
    position: relative;
    font-size:5vw;
    width:50%;
    max-width:850px;
    color:white;
    font-family: Articulat CF,system-ui,sans-serif;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:center;
    
}

.secondscreen{
    text-align: center;
    top:0;
    padding:0;
    margin:0;
    height:100vh;
    width:100vw;
    background-color:red;
    position: relative;
    
    display: flex;
    align-items:center;
    justify-content:center;
}

.fixed{
    position: fixed;
    top:0;
}


.secondallcontain{
    margin:0;
    padding:0;
    position: relative;
    font-size:5vw;
    width:65%;
    height:30vw;
    
    color:white;
    font-family: Articulat CF,system-ui,sans-serif;
    text-align: center;
    
    
    display: block;
}

.iamtext{
    position: absolute;
    left:0;
    top:0;
    margin:0;
    padding:0;
    text-align: left;
    
    
}
.appear{
    background-color: red;
    width:500px;
    height:500px;
    position: relative;
    top:0;
    display: block;

}

.changertextcontain{
    right:0;
    bottom:0;
    position: absolute;
    text-align: right;
    margin:0;
    padding:0;
    height:50%;
    
   
}

.kickertext{
    
    margin:0;
    padding:0;
    color:white;
    
}

#changertextone{
    position: absolute;
    
    opacity: 1;
    right:0;
    top:0;
    
    font-size:10vw;
    
}

#changertexttwo{
    
    opacity: 0;
    position: absolute;
    transform:translateY(75%);
    right:0;
    bottom:0;
    font-size: 16vw;
}